<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="APPFILE" class="ch.qos.logback.core.FileAppender">
        <file>C:\Users\mseha\im\app.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.inmotionchat" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.inmotionchat" level="DEBUG" additivity="false">
        <appender-ref ref="APPFILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>